<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newspaper - {% block title %}{% endblock title %}</title>
    {% include 'partials/_stylesheets.html' %}
    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
    {% include 'partials/_navbar.html' %}
    {% block body %}
    
    {% endblock body %}
</body>
{% include 'partials/_scripts.html' %}
<script>
    {% block scripts %}{% endblock scripts %}
<script>
</html>